<h2>Update Location</h2>

<a href="/admin/index">Admin</a> | 
<a href="/city/newcity">New City</a> |
<a href="/auth/logout">Logout</a><br><br>
<div class="form-group">
<form method='POST' action='/location/<%= location.id %>/?_method=PUT' >
<label for='name'>Name</label>
<input type='text' name='name' value='<%= location.name %>' /><br>
<label for='headlineText'>Headline Text</label>
<input type='text' name='headlineText' value='<%= location.headlineText %>' /><br>
<label for='coordinates'>Coordinates</label>
<input type='text' name='coordinates' value='<%= location.coordinates %>' /><br>
<label for='headlineUrl'>Headline Pic</label>
<input type='text' name='headlineUrl' value='<%= location.headlineUrl %>' /><br>
<label for='cityId'>City Id</label>
<input type='text' name='cityId' value='<%= location.cityId %>' /><br> 
</div>
<input class="btn btn-primary" type="submit" value="Update Location">
</form> 


