</br>
                
<button class = 'mapbtn2' onclick="window.location.href = '/';">Back</button>
<button class = 'mapbtn' onclick="window.location.href = '/seattlemap';">View on map</button>
<button class = 'mapbtn' onclick="window.location.href = '/tbilisimap';">View on map</button>




<!--<ul>
        <% location.forEach( function(location) { %>
        <li>  <a href ="/location/<%= location.id %>" ><%= location.name %></a></li>
       <% }); %>
</ul> --> 

<% location.forEach( function(location) { %>
       <div class="headline"><h4><%= location.name %></h4>
            <h2><%= location.headlineText %></h2>
            <img id="feed" src="/img/<%= location.headlineUrl %>" >
</div>
       <% }); %>